APP_TARGET=dev
MIX_ENV=dev

POSTGRES_USER=intellispark
POSTGRES_PASSWORD=intellispark-dev
POSTGRES_DB=intellispark_dev

SECRET_KEY_BASE=REPLACE_WITH_mix_phx.gen.secret
PHX_HOST=localhost
PHX_SERVER=true
PORT=4000
POOL_SIZE=10

RESEND_API_KEY=
